.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  animation: App-logo-spin infinite 5s linear;
}

.App-header {
  background-color: #16a085;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.App-intro {
  font-size: large;
  padding-top: 20px;
}

.nav-button {
  border: 1px solid;
  color: white;
  background: grey;
  margin: 12px;
  padding: 5px;
}
.nav-button:hover {

  color: orange;
  border: 1px solid orangered;
  background: white;
}

.nav-button:focus {
  outline: 0;
}

.forecast-card {
  border: solid 1px #e74c3c;
  padding: 16px;
  margin: 16px;
}
